<div class="initial-background">
    <div class="div-username">
        <h1>Bem vindo(a) ao <span>NEXT</span> chat.</h1>
        <label> &#128640; Digite o seu username:</label>
        <input class="form-control form-control-lg input-username" type="text">
        <button class="btn btn-primary username-button" type="submit">Continuar</button>
    </div>
</div>

<div class="general-container">
    <h2 class="welcome-message"></h2>
    <div class="chat-body">
        <div class="chat-header">
            <h1 class="title-header"><span>NEXT</span> chat .</h1>
        </div>
        <div class="chat-general-content">
        </div>
        <div class="form-div">
            <input class="form-control form-control-lg chat-input" type="text" placeholder="Digite uma mensagem">
            <button class="btn btn-primary chat-button" type="submit">Enviar</button>
        </div>
    </div>
</div>